<div id="container">
    <h2>Bienvenidos esta pequeña página de Cómics para Masiv</h2>
    <img class="img-masiv" src="assets/Logo-Masiv.png" alt="Card image cap">
    <p id="header-tittle">Al dar click en el botón de abajo, podras ver un Cómic de manera aleatoria entre 2600 disponibles!
        <br>
        Al final podrás calificarlo si deseas hacerlo.
    </p>
    <div id="container-aleatorio">
        <button type="button" class="btn btn-primary" id="boton-general" (click)="comicAleatorio()">Mirar Cómic aleatorio</button>
    </div>
</div>
